*.user
*.suo
*.book
*.bin
*.json
*.csv
GridBook.CommandLine/bin
GridBook.CommandLine/obj
GridBook/bin
GridBook/obj
GridBook.Test/GridBook.TestResult.xml
GridBook.Test/TestResult.xml
GridBook.Test/GridBook.Test.VisualState.xml
GridBook.Test/GridBook.Test.csproj.VisualState.xml
GridBook.Test/bin
GridBook.Test/obj
Sandbox/bin
Sandbox/obj
SplitFiles/
logs/
