<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DbTest" connectionString="Server=localhost;Database=GridBookTest;User=root;Password=daniel" providerName="MySql.Data.MySqlClient" />
    <add name="DbInMemory" connectionString=":memory:" providerName="System.Data.SQLite" />
  </connectionStrings>
  <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
    <dependentAssembly>
      <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" />
      <bindingRedirect oldVersion="2.0.0.0" newVersion="4.0.0.0" />
    </dependentAssembly>
  </assemblyBinding>
</configuration>
