<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog">
        <arg key="configType" value="INLINE" />
      </factoryAdapter>
    </logging>
  </common>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="ColoredConsole" xsi:type="ColoredConsole">
        <highlight-row foregroundColor="Green" condition="starts-with('${logger}', 'GridBook')" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="ColoredConsole" />
    </rules>
  </nlog>

  <connectionStrings>
    <add name="DbConnection" connectionString="Server=localhost;Database=GridBook;User=root;Password=daniel" providerName="MySql.Data.MySqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="nhibernate-logger" value="NHibernate.Logging.CommonLogging.CommonLoggingLoggerFactory, NHibernate.Logging.CommonLogging" />
  </appSettings>
</configuration>
